.item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.avatar{
    height: 60px;
    width: 60px;
    border-radius: 60px;
}
.avatar > img{
    height: 100%;
    width: 100%;
    border-radius: 60px;
}
