.App {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 20fr;
    grid-template-areas:
    "header header header"
    "navbar content content";
    max-width: 1020px;
    margin: 0 auto;
}
body{
    background-color: rgba(236, 235, 235, 0.85);
}